@charset "UTF-8";
@font-face {
  font-family: "Athelas";
  src: url("../fonts/Athelas/Athelas-Bold.eot");
  src: url("../fonts/Athelas/Athelas-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Athelas/Athelas-Bold.svg#Athelas-Bold") format("svg"), url("../fonts/Athelas/Athelas-Bold.ttf") format("truetype"), url("../fonts/Athelas/Athelas-Bold.woff") format("woff"), url("../fonts/Athelas/Athelas-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Athelas";
  src: url("../fonts/Athelas/Athelas-Italic.eot");
  src: url("../fonts/Athelas/Athelas-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Athelas/Athelas-Italic.svg#Athelas-Italic") format("svg"), url("../fonts/Athelas/Athelas-Italic.ttf") format("truetype"), url("../fonts/Athelas/Athelas-Italic.woff") format("woff"), url("../fonts/Athelas/Athelas-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Plumb";
  src: url("../fonts/Plumb-Light/Plumb-Light.eot");
  src: url("../fonts/Plumb-Light/Plumb-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Plumb-Light/Plumb-Light.svg#Plumb-Light") format("svg"), url("../fonts/Plumb-Light/Plumb-Light.ttf") format("truetype"), url("../fonts/Plumb-Light/Plumb-Light.woff") format("woff"), url("../fonts/Plumb-Light/Plumb-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Plumb";
  src: url("../fonts/Plumb-Regular/Plumb-Regular.eot");
  src: url("../fonts/Plumb-Regular/Plumb-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Plumb-Regular/Plumb-Regular.svg#Plumb-Regular") format("svg"), url("../fonts/Plumb-Regular/Plumb-Regular.ttf") format("truetype"), url("../fonts/Plumb-Regular/Plumb-Regular.woff") format("woff"), url("../fonts/Plumb-Regular/Plumb-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Plumb";
  src: url("../fonts/Plumb-Medium/Plumb-Medium.eot");
  src: url("../fonts/Plumb-Medium/Plumb-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Plumb-Medium/Plumb-Medium.svg#Plumb-Medium") format("svg"), url("../fonts/Plumb-Medium/Plumb-Medium.ttf") format("truetype"), url("../fonts/Plumb-Medium/Plumb-Medium.woff") format("woff"), url("../fonts/Plumb-Medium/Plumb-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Plumb";
  src: url("../fonts/Plumb-Bold/Plumb-Bold.eot");
  src: url("../fonts/Plumb-Bold/Plumb-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Plumb-Bold/Plumb-Bold.svg#Plumb-Bold") format("svg"), url("../fonts/Plumb-Bold/Plumb-Bold.ttf") format("truetype"), url("../fonts/Plumb-Bold/Plumb-Bold.woff") format("woff"), url("../fonts/Plumb-Bold/Plumb-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Plumb";
  src: url("../fonts/Plumb-Black/Plumb-Black.eot");
  src: url("../fonts/Plumb-Black/Plumb-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Plumb-Black/Plumb-Black.svg#Plumb-Black") format("svg"), url("../fonts/Plumb-Black/Plumb-Black.ttf") format("truetype"), url("../fonts/Plumb-Black/Plumb-Black.woff") format("woff"), url("../fonts/Plumb-Black/Plumb-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plumb", Arial, Helvetica, sans-serif;
  color: #B2ACA6;
}

html,
body {
  min-width: 320px;
  min-height: 320px;
  background-color: #5a4e44;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

input,
textarea {
  background-color: transparent;
  border: none;
  outline: none;
}

button {
  display: block;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
button:active {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

.round-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.page-wrapper {
  position: relative;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  overflow-x: hidden;
}

.blur-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.blur-background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #261b0f 0%, rgba(38, 27, 15, 0.785582) 42.19%, rgba(38, 27, 15, 0.71875) 70.31%, rgba(38, 27, 15, 0) 100%);
}

.main {
  position: relative;
}

.page-title {
  font-weight: bold;
  font-size: 64px;
  line-height: 72px;
  color: #DCD6D1;
  display: block;
}

.page-sibtitle {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  display: block;
}

/* Landscape tablets and medium desktops */
@media (max-width: 1199px) {
  .container {
    padding: 0 30px;
  }
}
/* Portrait tablets and small desktops */
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .page-title {
    font-size: 40px;
    line-height: 44px;
  }
}
/* Portrait phones and smaller */
@media (max-width: 480px) {
  .page-title {
    font-size: 24px;
    line-height: 27px;
  }

  .page-sibtitle {
    font-size: 14px;
  }
}
/* Iphone 5 */
.preloader {
  background: black;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s, visibility 0.5s;
}
.preloader.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

.cssload-loader {
  width: 100px;
  height: 100px;
  perspective: 780px;
}

.cssload-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.cssload-inner.cssload-one {
  left: 0%;
  top: 0%;
  animation: cssload-rotate-one 1.15s linear infinite;
  -o-animation: cssload-rotate-one 1.15s linear infinite;
  -ms-animation: cssload-rotate-one 1.15s linear infinite;
  -webkit-animation: cssload-rotate-one 1.15s linear infinite;
  -moz-animation: cssload-rotate-one 1.15s linear infinite;
  border-bottom: 3px solid #B2ACA6;
}
.cssload-inner.cssload-two {
  right: 0%;
  top: 0%;
  animation: cssload-rotate-two 1.15s linear infinite;
  -o-animation: cssload-rotate-two 1.15s linear infinite;
  -ms-animation: cssload-rotate-two 1.15s linear infinite;
  -webkit-animation: cssload-rotate-two 1.15s linear infinite;
  -moz-animation: cssload-rotate-two 1.15s linear infinite;
  border-right: 3px solid #5A4E44;
}
.cssload-inner.cssload-three {
  right: 0%;
  bottom: 0%;
  animation: cssload-rotate-three 1.15s linear infinite;
  -o-animation: cssload-rotate-three 1.15s linear infinite;
  -ms-animation: cssload-rotate-three 1.15s linear infinite;
  -webkit-animation: cssload-rotate-three 1.15s linear infinite;
  -moz-animation: cssload-rotate-three 1.15s linear infinite;
  border-top: 3px solid #fff;
}

@keyframes cssload-rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@-o-keyframes cssload-rotate-one {
  0% {
    -o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@-ms-keyframes cssload-rotate-one {
  0% {
    -ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@-webkit-keyframes cssload-rotate-one {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@-moz-keyframes cssload-rotate-one {
  0% {
    -moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@keyframes cssload-rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@-o-keyframes cssload-rotate-two {
  0% {
    -o-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    -o-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@-ms-keyframes cssload-rotate-two {
  0% {
    -ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    -ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@-webkit-keyframes cssload-rotate-two {
  0% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@-moz-keyframes cssload-rotate-two {
  0% {
    -moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    -moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@keyframes cssload-rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
@-o-keyframes cssload-rotate-three {
  0% {
    -o-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    -o-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
@-ms-keyframes cssload-rotate-three {
  0% {
    -ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    -ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
@-webkit-keyframes cssload-rotate-three {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
@-moz-keyframes cssload-rotate-three {
  0% {
    -moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    -moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
.header {
  z-index: 50;
}
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 44px;
  position: relative;
}
.header-left {
  flex: 0 1 330px;
}
.header-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 1 265px;
  position: relative;
  padding: 15px 0;
}
.header-nav-menu {
  position: absolute;
  right: 0;
  top: 100%;
  transform: translateX(100%);
  transition: transform 0.5s;
  z-index: 1;
}
.header-nav-menu.active {
  transform: translateX(0);
}
.header-nav-menu__list {
  position: relative;
  right: -760px;
  list-style: none;
  width: 1000px;
}
.header-nav-menu__item {
  display: block;
  background: linear-gradient(270deg, rgba(9, 5, 2, 0.8) 0%, rgba(8, 5, 2, 0.6) 90%, rgba(7, 4, 2, 0) 100%);
}
.header-nav-menu__item:hover {
  background: linear-gradient(270deg, rgba(100, 87, 75, 0.7) 0%, rgba(112, 100, 90, 0.8) 90%, rgba(163, 154, 145, 0) 100%);
  color: #fff;
}
.header-nav-menu__link {
  display: block;
  height: 50px;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  color: inherit;
  line-height: 50px;
  padding-left: 100px;
  transition: color 0.3s;
}

.logo {
  display: flex;
  align-items: center;
}
.logo:hover .logo__title, .logo:hover .logo__subtitle {
  color: #DCD6D1;
}
.logo-left {
  margin-right: 16px;
}
.logo__title, .logo__subtitle {
  font-family: "Athelas", serif;
  line-height: 24px;
  text-transform: uppercase;
  transition: color 0.3s;
}
.logo__title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 11px;
}
.logo__subtitle {
  font-size: 12px;
  font-style: italic;
  letter-spacing: 5px;
}

.btn-personal-account, .btn-contacts, .btn-change-lang, .btn-menu {
  filter: drop-shadow(0px 0px 2px #261B0F) brightness(1);
  transition: filter 0.3s;
}
@media (min-width: 768px) {
  .btn-personal-account:hover, .btn-contacts:hover, .btn-change-lang:hover, .btn-menu:hover {
    filter: drop-shadow(0px 0px 2px #261B0F) brightness(1.3);
  }
}
.btn-personal-account, .btn-contacts {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}
.btn-personal-account {
  background-image: url(../img/icons/personal-account-icon.svg);
}
.btn-contacts {
  width: 40px;
  height: 40px;
  background-image: url(../img/icons/contacts.svg);
  background-size: auto;
  z-index: 50;
}
.btn-change-lang, .btn-menu {
  text-transform: uppercase;
  color: #B2ACA6;
  font-size: 18px;
}
.btn-change-lang {
  font-weight: 700;
  border-bottom: 1px solid #B2ACA6;
}
.btn-menu {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 80px;
}
.btn-menu span {
  display: block;
  height: 20px;
  width: 20px;
  background-image: url(../img/icons/arrow-menu-icon.png);
  background-repeat: no-repeat;
  background-position: 100% 50%;
  transform: rotate(0deg);
  transition: transform 0.5s;
}
.btn-menu span.active {
  transform: rotate(-180deg);
}
.btn-burger {
  display: none;
  width: 30px;
  height: 30px;
}
.btn-burger__item {
  display: block;
  margin: auto;
  width: 22px;
  height: 2px;
  background-color: #B2ACA6;
  position: relative;
  transition: all 0.5s;
}
.btn-burger__item:nth-child(1) {
  top: -4px;
}
.btn-burger__item:nth-child(1).active {
  top: 2px;
  transform: rotate(135deg);
}
.btn-burger__item:nth-child(2) {
  opacity: 1;
}
.btn-burger__item:nth-child(2).active {
  opacity: 0;
}
.btn-burger__item:nth-child(3) {
  bottom: -4px;
}
.btn-burger__item:nth-child(3).active {
  bottom: 2px;
  transform: rotate(-135deg);
}

.contacts-container {
  position: absolute;
  right: auto;
  left: 54px;
  top: 7px;
  background: linear-gradient(190deg, rgba(149, 139, 128, 0.4) 0%, rgba(38, 27, 15, 0.7) 100%);
  width: 52px;
  height: 50px;
  border-radius: 100px;
  box-shadow: 0px 0px 5px 0px #261B0F;
  opacity: 0;
  transition: height, opacity;
  transition-duration: 0.4s, 0.1s;
  transition-delay: 0s, 0.4s;
  transition-timing-function: linear, linear;
}
.contacts-container.active {
  height: 235px;
  opacity: 1;
  transition-duration: 0.4s, 0s;
  transition-delay: 0s, 0s;
}
.contacts-item {
  position: absolute;
  top: 0;
  left: 0;
  height: 32px;
  width: 32px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin: 10px;
  filter: brightness(1);
  transition: top, filter;
  transition-timing-function: linear, ease;
}
.contacts-item::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  height: 30px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: normal;
  text-align: right;
  line-height: 31px;
  padding-left: 15px;
  color: #DCD6D1;
  pointer-events: none;
  transition: visibility, opacity;
  transition-duration: 0.5s, 0.5s;
  transition-delay: 0s, 0s;
}
@media (min-width: 768px) {
  .contacts-item:hover {
    filter: brightness(1.3);
  }
  .contacts-item:hover::before {
    opacity: 1;
    visibility: visible;
    transition: visibility, opacity;
    transition-duration: 0.5s, 0.5s;
    transition-delay: 0.2s, 0.2s;
  }
}
.contacts-item:nth-child(1)::before {
  content: "+7 981 148 05 58";
  width: 150px;
}
.contacts-item:nth-child(2)::before {
  content: "dk@dk.studio";
  width: 135px;
}
.contacts-item:nth-child(3)::before {
  content: "dk_arx.studio";
  width: 135px;
}
.contacts-item:nth-child(4)::before {
  content: "+7 981 148 05 58";
  width: 150px;
}
.contacts-item:nth-child(1) {
  transition-duration: 0.1s;
  transition-delay: 0.3s;
}
.contacts-item:nth-child(2) {
  transition-duration: 0.2s;
  transition-delay: 0.2s;
}
.contacts-item:nth-child(3) {
  transition-duration: 0.3s;
  transition-delay: 0.1s;
}
.contacts-item:nth-child(4) {
  transition-duration: 0.4s;
  transition-delay: 0s;
}
.contacts-item.active:nth-child(1) {
  top: 45px;
  transition-delay: 0s;
}
.contacts-item.active:nth-child(2) {
  top: 90px;
  transition-delay: 0s;
}
.contacts-item.active:nth-child(3) {
  top: 135px;
  transition-delay: 0s;
}
.contacts-item.active:nth-child(4) {
  top: 180px;
  transition-delay: 0s;
}

@media (max-width: 767px) {
  .header-wrapper {
    align-items: flex-start;
  }
  .header-right {
    flex: 0 1 50px;
    flex-direction: column-reverse;
    height: 170px;
    padding: 0;
    position: absolute;
    right: 0;
  }

  .btn-contacts {
    order: -1;
  }
  .btn-menu {
    display: none;
  }
  .btn-burger {
    display: block;
  }

  .contacts-container {
    left: unset;
    right: -4px;
    top: 125px;
    transition-property: width, opacity;
  }
  .contacts-container.active {
    height: 50px;
    width: 235px;
  }
  .contacts-item {
    left: auto;
    right: 0;
    transition-property: right;
  }
  .contacts-item:nth-child(1) {
    transition-duration: 0.1s;
    transition-delay: 0.3s;
  }
  .contacts-item:nth-child(2) {
    transition-duration: 0.2s;
    transition-delay: 0.2s;
  }
  .contacts-item:nth-child(3) {
    transition-duration: 0.3s;
    transition-delay: 0.1s;
  }
  .contacts-item:nth-child(4) {
    transition-duration: 0.4s;
    transition-delay: 0s;
  }
  .contacts-item.active:nth-child(1) {
    top: -1px;
    right: 45px;
    transition-delay: 0s;
  }
  .contacts-item.active:nth-child(2) {
    top: -1px;
    right: 90px;
    transition-delay: 0s;
  }
  .contacts-item.active:nth-child(3) {
    top: -1px;
    right: 135px;
    transition-delay: 0s;
  }
  .contacts-item.active:nth-child(4) {
    top: -1px;
    right: 180px;
    transition-delay: 0s;
  }

  .header-nav-menu {
    right: -30px;
    top: 130%;
  }
  .header-nav-menu__list {
    right: auto;
    width: 100vw;
  }
  .header-nav-menu__item {
    background: linear-gradient(270deg, rgba(9, 5, 2, 0.8) 0%, rgba(8, 5, 2, 0.8) 50%, rgba(7, 4, 2, 0) 100%);
  }
  .header-nav-menu__item:hover {
    background: linear-gradient(270deg, rgba(100, 87, 75, 0.8) 0%, rgba(112, 100, 90, 0.8) 50%, rgba(163, 154, 145, 0) 100%);
  }
  .header-nav-menu__link {
    height: 10vh;
    line-height: 10vh;
    padding-left: 0;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .logo__img {
    height: 52px;
  }
  .logo__title {
    font-size: 12px;
    letter-spacing: 7px;
    line-height: 16px;
  }
  .logo__subtitle {
    font-size: 6px;
    letter-spacing: 3.5px;
    line-height: 16px;
  }

  .header-nav-menu {
    top: 160%;
  }
}
.home-page-page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 50px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  overflow: hidden;
}

.home-page-main {
  flex: 0 1 330px;
  z-index: 10;
}
.home-page-main .container {
  height: 100%;
}
.home-page-main-wrapper {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home-page-main__title {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 64px;
  line-height: 72px;
  color: #DCD6D1;
}
.home-page-main__content {
  display: flex;
  align-items: center;
}
.home-page-main__text, .home-page-main__link {
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
  color: #fff;
  margin-right: 20px;
}
.home-page-main__link {
  font-weight: bold;
  text-transform: uppercase;
  background-image: url(../img/icons/eye-icon.png);
  background-repeat: no-repeat;
  background-position: 99% 50%;
  padding-right: 30px;
}

.home-page-slider {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  overflow: hidden;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.home-page-slider__item {
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 0px 100px 10px #B2ACA6;
}
.home-page-slider__img {
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.home-page-slider::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, #261b0f 0%, rgba(38, 27, 15, 0.785582) 42.19%, rgba(38, 27, 15, 0.71875) 70.31%, rgba(38, 27, 15, 0) 100%);
}
.home-page-slider-arrows {
  position: absolute;
  right: 10px;
  top: 30px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  max-height: 80px;
  height: 100%;
  z-index: 60;
}
.home-page-slider-arrow {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url(../img/icons/right-arrow-icon.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}
.home-page-slider-arrow:last-child {
  transform: scaleX(-1);
}

.home-page-dots {
  position: relative;
  flex: 0 1 20%;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.home-page-dots__item {
  height: 130px;
  width: 130px;
  margin: 0 35px;
  border-radius: 50%;
  border: 3px solid #B2ACA6;
  overflow: hidden;
  transition: border 0.5s, box-shadow 0.3s;
}
.home-page-dots__item:hover {
  border: 3px solid rgba(178, 172, 166, 0.2);
}
.home-page-dots__btn {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
}
.home-page-dots__btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, #261b0f 0%, rgba(38, 27, 15, 0.785582) 42.19%, rgba(38, 27, 15, 0.71875) 70.31%, rgba(38, 27, 15, 0) 100%);
}

@media (max-width: 767px) {
  .home-page-page-wrapper {
    padding-bottom: 100px;
  }

  .home-page-main {
    flex: 0 1 55%;
    transition: opacity 0.2s, visibility 0.2s;
  }
  .home-page-main.hidden {
    opacity: 0;
    visibility: hidden;
  }
  .home-page-main__title {
    font-size: 40px;
    line-height: 44px;
  }
  .home-page-main__content {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex: 0 1 70px;
  }
  .home-page-main__text {
    font-size: 14px;
    line-height: 16px;
  }

  .home-page-slider-arrows {
    display: flex;
  }

  .home-page-dots {
    display: none;
  }

  .home-page-slider__item {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
@media (max-height: 550px) {
  .home-page-main__title {
    font-size: 40px;
    line-height: 44px;
  }

  .home-page-dots__item {
    height: 80px;
    width: 80px;
  }
}
@media (max-width: 480px) {
  .home-page-main__title {
    font-size: 24px;
    line-height: 27px;
  }

  .home-page-slider-arrows .slick-arrow {
    width: 30px;
    height: 30px;
  }
}
@media (max-height: 400px) {
  .home-page-main__title {
    font-size: 24px;
    line-height: 27px;
  }

  .home-page-dots__item {
    height: 50px;
    width: 50px;
  }
}
.about-page__background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url(../img/contacts-bg.jpg);
}
.about-page__header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  box-shadow: none;
  transition: 0.4s;
}
.about-page__header.not-transparent {
  background-color: rgba(38, 27, 15, 0.8);
  -webkit-box-shadow: 0 10px 10px 0 rgba(38, 27, 15, 0.8);
  box-shadow: 0 10px 10px 0 rgba(38, 27, 15, 0.8);
}
.about-page__main {
  position: relative;
  margin-top: 150px;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s, visibility 0.2s;
}
.about-page__main.hidden {
  opacity: 0;
  visibility: hidden;
}
.about-page__container .section {
  margin: 50px auto;
  max-width: 750px;
  padding-top: 60px;
  background: linear-gradient(180deg, #261B0F 0%, rgba(38, 27, 15, 0.785582) 42.19%, rgba(38, 27, 15, 0.71875) 70.31%, rgba(38, 27, 15, 0) 100%);
}
.about-page__container .section__text {
  display: block;
  font-weight: 300;
  font-size: 18px;
  color: #FFFFFF;
  margin: 0 100px;
}
.about-page__container .section__img {
  margin-top: 50px;
}
.about-page__container .section__img .img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 767px) {
  .about-page__container .section__text {
    margin: 0 40px;
  }
}
@media (max-width: 480px) {
  .about-page__container .section {
    padding-top: 30px;
  }
  .about-page__container .section__text {
    font-size: 14px;
  }
}
.services-page-background {
  position: fixed;
  background-image: url(../img/blur-background-2.jpg);
}
.services-page-background::after {
  content: none;
}
.services-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  box-shadow: none;
  transition: 0.4s;
}
.services-header .header-wrapper {
  padding: 40px 0;
}
.services-header.not-transparent {
  background-color: rgba(38, 27, 15, 0.8);
  box-shadow: 0px 10px 10px 0px rgba(38, 27, 15, 0.8);
}
.services-main {
  margin-top: 180px;
  transition: opacity 0.2s, visibility 0.2s;
}
.services-main.hidden {
  opacity: 0;
  visibility: hidden;
}
.services-list {
  display: flex;
  flex-direction: column;
}
.services-list-item {
  display: flex;
  flex-direction: column;
  border-radius: 0 100px 100px 0;
  background: linear-gradient(107.94deg, #39312a 34.25%, rgba(90, 78, 68, 0.25) 67.47%);
  margin-bottom: 30px;
  cursor: pointer;
}
.services-list-item:hover .included {
  color: #fff;
}
.services-list-item-main {
  display: flex;
  padding: 20px 60px 20px 0;
  position: relative;
}
.services-list-item-img {
  flex: 0 0 150px;
  display: flex;
  justify-content: center;
}
.services-list-item-img .img {
  width: 60px;
  height: 60px;
  margin-top: 10px;
}
.services-list-item-desc {
  display: flex;
  justify-content: space-between;
}
.services-list-item-desc-left {
  flex: 0 1 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.services-list-item-desc-title {
  font-weight: normal;
  font-size: 24px;
  text-transform: uppercase;
}
.services-list-item-desc-text {
  font-weight: normal;
  font-size: 14px;
}
.services-list-item-desc-right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.services-list-item-desc-right-row {
  display: flex;
  justify-content: flex-end;
}
.services-list-item-desc-right-row .note {
  flex: 0 1 150px;
  font-weight: normal;
  font-size: 18px;
  display: flex;
  align-items: center;
  margin: 0 30px;
}
.services-list-item-desc-right-row .price {
  font-size: 24px;
  text-align: right;
}
.services-list-item-desc-right-row .price .numbers {
  font-weight: bold;
  font-size: 64px;
}
.services-list-item-desc-right-row .price .sqr-meters {
  font-size: 18px;
}
.services-list-item-desc-right-row .included {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  background-image: url(../img/icons/info.svg);
  background-repeat: no-repeat;
  background-position: 98% 50%;
  background-size: contain;
  padding-right: 35px;
  margin-top: 25px;
  transition: color 0.3s;
}
.services-list-item-details {
  max-width: 90%;
  align-self: center;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 -30px;
}
.services-list-item-details .item {
  flex: 1 1 20%;
  margin-bottom: 30px;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s, visibility 0.3s;
}
.services-list-item-details .item__img {
  flex: 0 0 auto;
  height: 60px;
  width: 60px;
  margin-bottom: 15px;
}
.services-list-item-details .item__text {
  text-align: center;
  font-size: 14px;
}
.services-list-item-details .item.hidden {
  opacity: 0;
  visibility: hidden;
}

@media (max-width: 1199px) {
  .services-list-item-img {
    flex: 0 0 130px;
  }
  .services-list-item-desc-title {
    font-size: 20px;
    font-weight: bold;
  }
  .services-list-item-desc-right-row .price .numbers {
    font-size: 56px;
  }
}
@media (max-width: 991px) {
  .services-list-item-img {
    flex: 0 0 100px;
  }
  .services-list-item-desc {
    flex-direction: column;
  }
  .services-list-item-desc-left {
    flex: 0 1 auto;
    margin-right: 140px;
  }
  .services-list-item-desc-title {
    margin-bottom: 10px;
  }
  .services-list-item-desc-right {
    flex-shrink: 0;
  }
  .services-list-item-desc-right-row {
    justify-content: space-between;
  }
  .services-list-item-desc-right-row .note {
    flex: 0 1 auto;
    margin: 0 30px 0 0;
  }
  .services-list-item-desc-right-row .price {
    font-size: 18px;
    line-height: 18px;
  }
  .services-list-item-desc-right-row .price .numbers {
    font-size: 40px;
  }
  .services-list-item-desc-right-row .included {
    position: absolute;
    right: 50px;
    top: 0px;
  }
}
@media (max-width: 767px) {
  .services-list-item {
    border-radius: 0 50px 50px 0;
    margin-bottom: 15px;
  }
  .services-list-item-main {
    padding: 20px 30px 20px 0;
  }
  .services-list-item-img {
    display: none;
  }
  .services-list-item-desc {
    flex-direction: column;
    width: 100%;
    margin-left: 20px;
  }
  .services-list-item-desc-left {
    flex: 0 1 auto;
    margin-right: 0;
  }
  .services-list-item-desc-title {
    margin-bottom: 5px;
    margin-right: 150px;
  }
  .services-list-item-desc-right {
    margin-top: 15px;
  }
  .services-list-item-desc-right-row .note {
    font-size: 14px;
  }
  .services-list-item-desc-right-row .price .numbers {
    font-size: 30px;
  }
  .services-list-item-desc-right-row .price .sqr-meters {
    font-size: 12px;
    display: block;
    margin-top: -5px;
  }
  .services-list-item-desc-right-row .included {
    margin-top: 14px;
    right: 30px;
  }
  .services-list-item-details .item {
    flex: 0 1 50%;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 10px;
    padding: 0;
  }
  .services-list-item-details .item__img {
    margin-bottom: 0;
    margin-right: 10px;
  }
  .services-list-item-details .item__text {
    font-size: 12px;
    text-align: left;
    padding-right: 10px;
  }
}
@media (max-width: 480px) {
  .services-main {
    margin-top: 210px;
  }
  .services-list-item {
    border-radius: 0 20px 20px 0;
  }
  .services-list-item-main {
    padding: 10px 35px 10px 0;
  }
  .services-list-item-desc-title {
    margin-right: 0;
    margin-bottom: 0;
    max-width: 50%;
    font-weight: normal;
    font-size: 18px;
  }
  .services-list-item-desc-text {
    display: none;
    margin: 10px 0;
  }
  .services-list-item-desc-right {
    margin-top: 7px;
  }
  .services-list-item-desc-right-row .note {
    margin-right: 10px;
    flex: 1 1 50%;
  }
  .services-list-item-desc-right-row .price {
    font-size: 14px;
  }
  .services-list-item-desc-right-row .price .numbers {
    font-size: 24px;
  }
  .services-list-item-desc-right-row .price .sqr-meters {
    font-size: 10px;
  }
  .services-list-item-desc-right-row .included {
    font-size: 14px;
    line-height: 18px;
    padding-right: 26px;
    right: 35px;
    margin-top: 10px;
  }
  .services-list-item-details {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .services-list-item-details .item {
    flex-basis: 50%;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 10px;
  }
  .services-list-item-details .item__img {
    margin-bottom: 0;
    margin-right: 10px;
    height: 30px;
    width: 30px;
  }
  .services-list-item-details .item__text {
    font-size: 12px;
    text-align: left;
  }
}
@media (max-width: 370px) {
  .services-list-item-desc {
    margin-left: 12px;
  }
  .services-list-item-desc-title {
    font-size: 12px;
  }
  .services-list-item-desc-right {
    margin-top: 7px;
  }
  .services-list-item-desc-right-row .note {
    font-size: 10px;
  }
  .services-list-item-desc-right-row .price {
    font-size: 12px;
  }
  .services-list-item-desc-right-row .price .numbers {
    font-size: 18px;
  }
  .services-list-item-desc-right-row .included {
    line-height: 15px;
    padding-right: 22px;
  }
}
.portfolio-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  box-shadow: none;
  transition: 0.4s;
}
.portfolio-header .header-wrapper {
  padding: 40px 0;
}
.portfolio-header.not-transparent {
  background-color: rgba(38, 27, 15, 0.8);
  box-shadow: 0px 10px 10px 0px rgba(38, 27, 15, 0.8);
}
.portfolio-page-background {
  position: fixed;
  background-image: url(../img/blur-background-2.jpg);
}
.portfolio-page-background::after {
  content: none;
}
.portfolio-main {
  margin-top: 180px;
  transition: opacity 0.2s, visibility 0.2s;
}
.portfolio-main.hidden {
  opacity: 0;
  visibility: hidden;
}
.portfolio-title {
  margin-bottom: 10px;
}
.portfolio-subtitle {
  margin-bottom: 50px;
}
.portfolio-list {
  display: flex;
  flex-direction: column;
}
.portfolio-list-item {
  display: flex;
  border-radius: 0 200px 200px 0;
  background: linear-gradient(107.94deg, #39312a 34.25%, rgba(90, 78, 68, 0.25) 67.47%);
  margin-bottom: 38px;
  position: relative;
  z-index: 1;
}
.portfolio-list-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 100%;
  background: linear-gradient(135.14deg, #000000 0%, rgba(46, 40, 36, 0.8) 100%);
  transform: skewY(45deg) translateY(18px);
  z-index: 0;
}
.portfolio-list-item-img {
  width: 388px;
  height: 150px;
  position: relative;
  overflow: hidden;
}
.portfolio-list-item-img::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(../img/icons/eye.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0;
  transition: opacity 0.5s;
}
.portfolio-list-item-img .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: transform 0.5s;
}
.portfolio-list-item:hover .portfolio-list-item-img::after {
  opacity: 1;
}
.portfolio-list-item:hover .portfolio-list-item-img > .img {
  transform: scale(1.1);
}
.portfolio-list-item-desc {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 40px;
}
.portfolio-list-item-desc-title {
  font-weight: normal;
  font-size: 24px;
  text-transform: uppercase;
}
.portfolio-list-item-desc-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 90%;
}
.portfolio-list-item-desc-location, .portfolio-list-item-desc-area, .portfolio-list-item-desc-authors {
  background-repeat: no-repeat;
  background-position: 0 50%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 40px;
}
.portfolio-list-item-desc-location {
  background-image: url(../img/icons/location-icon.svg);
}
.portfolio-list-item-desc-area {
  background-image: url(../img/icons/area-icon.svg);
}
.portfolio-list-item-desc-authors {
  background-image: url(../img/icons/authors-icon.svg);
}

@media (max-width: 1199px) {
  .portfolio-list-item-img {
    width: 350px;
  }
  .portfolio-list-item-desc {
    margin-left: 20px;
  }
  .portfolio-list-item-desc-title {
    font-size: 18px;
  }
  .portfolio-list-item-desc-text {
    font-size: 12px;
  }
  .portfolio-list-item-desc-location, .portfolio-list-item-desc-area, .portfolio-list-item-desc-authors {
    height: 20px;
    background-size: contain;
    padding-left: 30px;
  }
}
@media (max-width: 991px) {
  .portfolio-list-item-img {
    flex: 0 0 250px;
  }
  .portfolio-list-item-desc {
    flex-direction: row;
  }
  .portfolio-list-item-desc-title {
    display: flex;
    align-items: center;
    flex: 0 1 50%;
  }
  .portfolio-list-item-desc-text {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    flex: 0 1 40%;
  }
}
@media (max-width: 767px) {
  .portfolio-header {
    background-color: transparent;
    box-shadow: none;
    transition: 0.4s;
  }
  .portfolio-header.not-transparent {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent);
    box-shadow: none;
  }
  .portfolio-list-item-img {
    flex: 0 0 150px;
  }
  .portfolio-list-item-desc-title {
    flex: 0 1 auto;
  }
  .portfolio-list-item-desc-text {
    display: none;
  }
}
@media (max-width: 480px) {
  .portfolio-subtitle {
    margin-bottom: 20px;
  }
  .portfolio-list-item {
    margin-bottom: 20px;
    border-radius: 10px;
  }
  .portfolio-list-item-img {
    flex: 0 0 100px;
    height: 100px;
  }
  .portfolio-list-item-desc {
    flex-direction: column;
  }
  .portfolio-list-item-desc-title {
    margin-right: 0;
    font-size: 14px;
  }
}
.project-page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.project-page-wrapper .header {
  position: relative;
}
.project-page-wrapper .cursor-pad {
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  z-index: 50;
  display: flex;
  flex-direction: column;
  opacity: 1;
  visibility: visible;
  transition-duration: 0.3s;
  transition-delay: 0.3s;
}
.project-page-wrapper .cursor-pad.hidden {
  opacity: 0;
  visibility: hidden;
  transition-delay: 0s;
}
.project-page-wrapper .cursor-pad__row {
  flex: 0 0 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.project-page-wrapper .cursor-pad__row_center {
  display: flex;
  justify-content: space-between;
  width: 125px;
}
.project-page-wrapper .cursor-pad__btn {
  position: relative;
  width: 30px;
  height: 30px;
  filter: drop-shadow(0px 0px 2px #261B0F);
  transition: 0.3s;
}
.project-page-wrapper .cursor-pad__btn:hover svg {
  position: relative;
  z-index: 3;
}
.project-page-wrapper .cursor-pad__btn_up::after, .project-page-wrapper .cursor-pad__btn_down::after, .project-page-wrapper .cursor-pad__btn_left::after, .project-page-wrapper .cursor-pad__btn_right::after, .project-page-wrapper .cursor-pad__btn_center::after {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  height: 30px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: left;
  line-height: 31px;
  padding-left: 15px;
  background-color: #B2ACA6;
  color: #DCD6D1;
  pointer-events: none;
  transition: visibility, opacity;
  transition-duration: 0.5s, 0.5s;
  transition-delay: 0s, 0s;
}
@media (min-width: 768px) {
  .project-page-wrapper .cursor-pad__btn_up:hover, .project-page-wrapper .cursor-pad__btn_down:hover, .project-page-wrapper .cursor-pad__btn_left:hover, .project-page-wrapper .cursor-pad__btn_right:hover, .project-page-wrapper .cursor-pad__btn_center:hover {
    z-index: 2;
  }
  .project-page-wrapper .cursor-pad__btn_up:hover::after, .project-page-wrapper .cursor-pad__btn_down:hover::after, .project-page-wrapper .cursor-pad__btn_left:hover::after, .project-page-wrapper .cursor-pad__btn_right:hover::after, .project-page-wrapper .cursor-pad__btn_center:hover::after {
    opacity: 1;
    visibility: visible;
    transition: visibility, opacity;
    transition-duration: 0.5s, 0.5s;
    transition-delay: 0.2s, 0.2s;
  }
}
.project-page-wrapper .cursor-pad__btn_up::after {
  content: "Предыдущий проект";
  width: 210px;
}
.project-page-wrapper .cursor-pad__btn_down::after {
  content: "Следующий проект";
  width: 200px;
}
.project-page-wrapper .cursor-pad__btn_left::after {
  content: "Предыдущее фото";
  width: 190px;
}
.project-page-wrapper .cursor-pad__btn_right::after {
  content: "Следующее фото";
  width: 180px;
}
.project-page-wrapper .cursor-pad__btn_center::after {
  content: "Все проекты";
  width: 150px;
}
.project-page-wrapper .cursor-pad__btn path,
.project-page-wrapper .cursor-pad__btn line {
  fill: transparent;
  stroke: #DCD6D1;
  transition: 0.3s;
}
@media (min-width: 768px) {
  .project-page-wrapper .cursor-pad__btn:hover path:first-child {
    fill: #B2ACA6;
  }
}
.project-page-wrapper .cursor-pad__btn_disabled {
  visibility: hidden;
}
.project-page-wrapper .cursor-pad .full-size-btn {
  width: 30px;
  height: 30px;
  margin: 30px auto 0;
  filter: drop-shadow(0px 0px 2px #261B0F) brightness(1);
  transition: filter 0.2s;
}
.project-page-wrapper .cursor-pad .full-size-btn:hover {
  filter: drop-shadow(0px 0px 2px #261B0F) brightness(1.2);
}
.project-slider-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.project-slider {
  width: 100%;
  height: 100%;
}
.project-slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 150px;
  background: linear-gradient(180deg, #261b0f 0%, rgba(38, 27, 15, 0.8) 45%, rgba(38, 27, 15, 0.5) 74%, rgba(38, 27, 15, 0.25) 90%, rgba(38, 27, 15, 0) 100%);
  z-index: 1;
}
.project-slider__item {
  height: 100%;
}
.project-slider__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-slider .slick-list {
  overflow: hidden;
  height: 100%;
}
.project-slider .slick-track {
  display: flex;
  height: 100%;
}
.project-main {
  z-index: 1;
  transform: translateY(75%);
  transition: 0.5s;
}
.project-main::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 130%;
  background: linear-gradient(0deg, #261b0f 0%, rgba(38, 27, 15, 0.8) 40%, rgba(38, 27, 15, 0.7) 80%, rgba(38, 27, 15, 0) 100%);
  z-index: 0;
}
@media (min-width: 768px) {
  .project-main:hover {
    transform: translateY(0);
  }
}
@media (min-width: 768px) {
  .project-main:hover .project-description__title::after {
    opacity: 0;
  }
}
.project-description {
  position: relative;
  z-index: 10;
}
.project-description__title {
  font-weight: normal;
  font-size: 24px;
  margin-bottom: 50px;
  margin-right: 40px;
  position: relative;
}
.project-description__title::after {
  content: "";
  position: absolute;
  top: -5px;
  right: -40px;
  width: 30px;
  height: 30px;
  background-image: url(../img/icons/info.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  filter: drop-shadow(0px 0px 2px #261B0F);
  opacity: 1;
  transition: 0.3s;
}
.project-description__details {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.project-description__item {
  flex: 1 1 calc(100% / 3);
  font-weight: normal;
  font-size: 14px;
  background-repeat: no-repeat;
  background-position: 0% 50%;
  background-size: contain;
  padding-left: 40px;
  margin-bottom: 10px;
  height: 30px;
  display: flex;
  align-items: center;
}
.project-description__item:nth-child(1) {
  background-image: url(../img/icons/location-icon.svg);
}
.project-description__item:nth-child(2) {
  background-image: url(../img/icons/authors-icon.svg);
}
.project-description__item:nth-child(3) {
  background-image: url(../img/icons/arch-face-group.svg);
  flex: 0 1 auto;
}
.project-description__item:nth-child(4) {
  background-image: url(../img/icons/area-icon.svg);
}
.project-description__item:nth-child(5) {
  background-image: url(../img/icons/share-icon.svg);
  text-transform: uppercase;
  justify-content: flex-end;
  flex: 0 1 auto;
}
.project-popup {
  background: linear-gradient(180deg, #261B0F 0%, rgba(38, 27, 15, 0.8) 35%, rgba(38, 27, 15, 0.5) 50%, rgba(38, 27, 15, 0.8) 65%, #261B0F 100%);
}
.project-popup__img {
  height: 90%;
}
.project-popup__img .img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

@media (max-width: 767px) {
  .project-main {
    transform: translateY(0);
  }
  .project-main::before {
    height: 100%;
    background: linear-gradient(0deg, #261b0f 0%, rgba(38, 27, 15, 0.816667) 77.08%, rgba(38, 27, 15, 0.57) 100%);
  }
  .project-main.hidden {
    transform: translateY(60%);
  }
  .project-main.hidden .project-description__title::after {
    opacity: 1;
  }
  .project-description__title {
    font-size: 18px;
    margin-top: 30px;
  }
  .project-description__title::after {
    opacity: 0;
  }
  .project-description__details {
    justify-content: space-between;
  }
  .project-description__item {
    flex: 0 1 50%;
    font-size: 12px;
  }
  .project-description__item:nth-child(4) {
    flex: 0 1 auto;
  }
}
@media (max-width: 480px) {
  .project-page-wrapper .cursor-pad {
    top: auto;
    right: 20px;
    bottom: 100px;
    transform: translateY(0);
  }
  .project-main.hidden {
    transform: translateY(75%);
  }
  .project-description__details {
    flex-direction: column;
  }
  .project-description__item {
    flex: 0 1 auto;
  }
  .project-description__item:nth-child(5) {
    justify-content: flex-start;
  }
}
.contacts-page__background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url(../img/contacts-bg.jpg);
}
.contacts-page__header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  box-shadow: none;
  transition: 0.4s;
}
.contacts-page__header.not-transparent {
  background-color: rgba(38, 27, 15, 0.8);
  -webkit-box-shadow: 0 10px 10px 0 rgba(38, 27, 15, 0.8);
  box-shadow: 0 10px 10px 0 rgba(38, 27, 15, 0.8);
}
.contacts-page__main {
  position: relative;
  margin-top: 150px;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s, visibility 0.2s;
}
.contacts-page__main.hidden {
  opacity: 0;
  visibility: hidden;
}
.contacts-page__section {
  margin: 50px 15px;
}
.contacts-page__content {
  display: flex;
  justify-content: space-evenly;
}
.contacts-page__content .section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 520px;
  padding: 45px 60px 100px;
  background: linear-gradient(180deg, #261b0f 0%, rgba(38, 27, 15, 0.785582) 42.19%, rgba(38, 27, 15, 0.71875) 70.31%, rgba(38, 27, 15, 0) 100%);
}
.contacts-page__content .section__title {
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
}
.contacts-page__content .section .contacts-box {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 50px;
}
.contacts-page__content .section .contacts-box__col {
  display: flex;
  flex-direction: column;
}
.contacts-page__content .section .contacts-box__link {
  display: block;
  font-size: 18px;
  line-height: 32px;
  color: #DCD6D1;
  padding-left: 40px;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: 30px;
  filter: brightness(1);
  transition: filter 0.3s;
}
.contacts-page__content .section .contacts-box__link:hover {
  filter: brightness(1.3);
}
.contacts-page__content .section .contacts-box__link_mail {
  background-image: url(../img/icons/email-icon.svg);
}
.contacts-page__content .section .contacts-box__link_phone {
  background-image: url(../img/icons/phone.svg);
}
.contacts-page__content .section .contacts-box__link_whatsapp {
  background-image: url(../img/icons/whatsapp.svg);
}
.contacts-page__content .section .contacts-box__link_instagram {
  background-image: url(../img/icons/instagram.svg);
}
.contacts-page__content .section .location-box {
  margin-top: 60px;
}
.contacts-page__content .section .location-box__address {
  display: block;
  font-size: 18px;
  font-style: normal;
  line-height: 40px;
  color: #DCD6D1;
  padding-left: 35px;
  margin-bottom: 10px;
  background-image: url(../img/icons/location-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 4px;
}
.contacts-page__content .section .location-box__map {
  height: 100px;
  margin-top: 40px;
  border-radius: 10px;
  overflow: hidden;
  background-image: url(../img/map.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: grayscale(1);
}
.contacts-page__content .section .form {
  margin: 50px auto 0;
  max-width: 230px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.contacts-page__content .section .form__label {
  height: 15px;
  border: 1px solid #DCD6D1;
  border-top: none;
  border-radius: 0 0 15px 15px;
}
.contacts-page__content .section .form__label_textarea {
  height: 110px;
}
.contacts-page__content .section .form__input {
  display: block;
  width: 100%;
  height: 30px;
  padding: 0 10px;
  margin-top: -15px;
  color: #B2ACA6;
  font-size: 18px;
  position: relative;
}
.contacts-page__content .section .form__input::placeholder {
  color: #B2ACA6;
  font-size: 18px;
}
.contacts-page__content .section .form__input_textarea {
  resize: none;
  height: 100%;
}
.contacts-page__content .section .form__button {
  display: block;
  width: 100%;
  height: 30px;
  font-size: 18px;
  color: #DCD6D1;
  border-radius: 50px;
  background-color: #5A4E44;
}

.popup {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.4s, visibility 0.4s;
}
.popup.hidden {
  opacity: 0;
  visibility: hidden;
}
.popup__block {
  position: relative;
  flex-grow: 1;
  max-width: 550px;
  min-height: 360px;
  background: linear-gradient(180deg, #261B0F 0%, rgba(38, 27, 15, 0.785582) 42.19%, rgba(38, 27, 15, 0.71875) 70.31%, rgba(38, 27, 15, 0) 100%);
}
.popup__close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 2px solid #B2ACA6;
  filter: brightness(1);
  transition: filter 0.4s;
}
.popup__close-btn:hover {
  filter: brightness(1.3);
}
.popup__close-btn::before, .popup__close-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 2px;
  background-color: #B2ACA6;
}
.popup__close-btn::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.popup__close-btn::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.popup__success-msg {
  display: block;
  max-width: 290px;
  margin: 120px auto;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  color: #DCD6D1;
}
.popup__success-msg.hidden {
  display: none;
}
.popup__error-msg {
  max-width: 350px;
  margin: 80px auto;
}
.popup__error-msg.hidden {
  display: none;
}
.popup__error-msg .text {
  font-weight: 300;
  font-size: 18px;
  color: #DCD6D1;
}
.popup__error-msg .popup__btn {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  margin: 14px 0 14px auto;
  padding-right: 40px;
  color: #B2ACA6;
  background-image: url(../img/icons/resend.svg);
  background-repeat: no-repeat;
  background-position: 99% 50%;
  background-size: 30px 30px;
  filter: brightness(1);
  transition: filter 0.4s;
}
.popup__error-msg .popup__btn:hover {
  filter: brightness(1.3);
}
.popup__error-msg .popup__contacts-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px auto 0;
  max-width: 150px;
}
.popup__error-msg .popup__contacts-container .contacts-item {
  position: static;
  display: block;
  width: 30px;
  height: 30px;
  margin: 0;
  filter: brightness(1);
  transition: filter 0.4s;
}
.popup__error-msg .popup__contacts-container .contacts-item:hover {
  filter: brightness(1.3);
}
.popup__error-msg .popup__contacts-container .contacts-item::before {
  content: none;
}

@media (max-width: 1199px) {
  .contacts-page__content .section .contacts-box {
    flex-direction: column;
    justify-content: flex-start;
  }
}
@media (max-width: 767px) {
  .contacts-page__container {
    padding: 0 10px;
  }
  .contacts-page__title {
    margin-top: 80px;
    margin-left: 30px;
  }
  .contacts-page__section {
    margin: 0;
    margin-top: 40px;
  }
  .contacts-page__content {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .contacts-page__content .section {
    width: 100%;
    padding: 35px 15px 40px;
  }
  .contacts-page__content .section__title {
    font-size: 18px;
  }
  .contacts-page__content .section:last-child .section__title {
    display: none;
  }
  .contacts-page__content .section .form {
    min-height: 400px;
  }
}
.cap-page-wrapper {
  overflow: hidden;
}
.cap-page-wrapper .contacts-container {
  z-index: 1;
}

.cap-background {
  background-image: url(../img/82_003.jpg);
}

.cap-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../img/cap.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.cap-page-main {
  position: relative;
  height: calc(100% - 127px);
  z-index: auto;
}
.cap-page-main-wrapper {
  flex: 0 1 190px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 100px;
}

.cap-title {
  max-width: 694px;
}

.cap-sibtitle {
  margin-left: 10px;
}

@media (max-width: 767px) {
  .cap-page-main {
    height: calc(100% - 214px);
    opacity: 1;
    visibility: visible;
    transition: opacity 0.2s, visibility 0.2s;
  }
  .cap-page-main.hidden {
    opacity: 0;
    visibility: hidden;
  }
  .cap-page-main-wrapper {
    flex: 0 1 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0;
    margin-top: 100px;
  }

  .cap-container {
    justify-content: flex-start;
  }

  .cap-sibtitle {
    margin-left: 0;
  }
}
@media (max-width: 620px) {
  .cap-title {
    font-size: 30px;
    line-height: 44px;
  }
}
@media (max-width: 480px) {
  .cap-page-main-wrapper {
    flex: 0 1 60px;
    margin-top: 50px;
  }
}
@media (max-width: 400px) {
  .cap-title {
    font-size: 20px;
    line-height: 27px;
  }
}
.signature {
  position: absolute;
  right: 0;
  bottom: -70px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #A39A91;
  transform: skewX(15deg);
  border-radius: 6px 0 0 6px;
  width: 100%;
  margin-right: -780px;
  padding: 7px 0 7px 35px;
  transition: margin-right 0.3s;
}

@media (min-width: 768px) {
  .signature:hover {
    margin-right: -770px;
  }
}
.signature__container {
  transform: skewX(-15deg);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.signature__logo {
  height: 40px;
  width: 40px;
  margin-right: 15px;
}

.signature__logo svg {
  fill: #39312A;
}

.signature__text {
  font-family: Plumb, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #39312A;
}

.signature__text span {
  font-family: inherit;
  font-style: inherit;
  font-weight: bold;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

@media (max-width: 767px) {
  .signature {
    margin-right: -30px;
    right: 0;
    width: 300px;
  }
}

/*# sourceMappingURL=style.css.map */
