.cap-page-wrapper {
  overflow: hidden;
}

.cap-background {
  background-image: url(../img/82_003.jpg);
}

.cap-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../img/cap.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.cap-page-main {
  position: relative;
  height: calc(100% - 127px);
  z-index: 0;

  &-wrapper {
    flex: 0 1 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 100px;
  }
}

.cap-title {
  max-width: 694px;
}

.cap-sibtitle {
  margin-left: 10px;
}

@media (max-width: 767px) {
  .cap-page-main {
    height: calc(100% - 214px);
    opacity: 1;
    visibility: visible;
    transition: opacity 0.2s, visibility 0.2s;

    &.hidden {
      opacity: 0;
      visibility: hidden;
    }

    &-wrapper {
      flex: 0 1 100px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 0;
      margin-top: 100px;
    }
  }

  .cap-container {
    justify-content: flex-start;
  }

  .cap-sibtitle {
    margin-left: 0;
  }
}

@media (max-width: 620px) {
  .cap-title {
    font-size: 30px;
    line-height: 44px;
  }
}

@media (max-width: 480px) {
  .cap-page-main-wrapper {
    flex: 0 1 60px;
    margin-top: 50px;
  }
  
}

@media (max-width: 400px) {
  .cap-title {
    font-size: 20px;
    line-height: 27px;
  }
}
