*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plumb", Arial, Helvetica, sans-serif;
  color: $main-color;
  // cursor: default;
  z-index: 50;
}

html,
body {
  min-width: 320px;
}

a {
  text-decoration: none;
  // cursor: pointer;
}

button {
  display: block;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.hidden {
  display: none;
}

.round-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.page-wrapper {
  position: relative;
  height: 100vh;
  // background-color: black;
}



/* Landscape tablets and medium desktops */
@media (max-width: 1199px) {
  .container {
    padding: 0 30px;
  }
}

/* Portrait tablets and small desktops */
@media (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}

/* Iphone 5 */
@media (max-width: 320px) {

}