@font-face {
  font-family: "Athelas";
  src: url("../fonts/Athelas/Athelas-Bold.eot");
  src: url("../fonts/Athelas/Athelas-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Athelas/Athelas-Bold.svg#Athelas-Bold") format("svg"),
    url("../fonts/Athelas/Athelas-Bold.ttf") format("truetype"),
    url("../fonts/Athelas/Athelas-Bold.woff") format("woff"),
    url("../fonts/Athelas/Athelas-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Athelas";
  src: url("../fonts/Athelas/Athelas-Italic.eot");
  src: url("../fonts/Athelas/Athelas-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Athelas/Athelas-Italic.svg#Athelas-Italic") format("svg"),
    url("../fonts/Athelas/Athelas-Italic.ttf") format("truetype"),
    url("../fonts/Athelas/Athelas-Italic.woff") format("woff"),
    url("../fonts/Athelas/Athelas-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Plumb";
  src: url("../fonts/Plumb-Light/Plumb-Light.eot");
  src: url("../fonts/Plumb-Light/Plumb-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Plumb-Light/Plumb-Light.svg#Plumb-Light") format("svg"),
    url("../fonts/Plumb-Light/Plumb-Light.ttf") format("truetype"),
    url("../fonts/Plumb-Light/Plumb-Light.woff") format("woff"),
    url("../fonts/Plumb-Light/Plumb-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Plumb";
  src: url("../fonts/Plumb-Regular/Plumb-Regular.eot");
  src: url("../fonts/Plumb-Regular/Plumb-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Plumb-Regular/Plumb-Regular.svg#Plumb-Regular") format("svg"),
    url("../fonts/Plumb-Regular/Plumb-Regular.ttf") format("truetype"),
    url("../fonts/Plumb-Regular/Plumb-Regular.woff") format("woff"),
    url("../fonts/Plumb-Regular/Plumb-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Plumb";
  src: url("../fonts/Plumb-Medium/Plumb-Medium.eot");
  src: url("../fonts/Plumb-Medium/Plumb-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Plumb-Medium/Plumb-Medium.svg#Plumb-Medium") format("svg"),
    url("../fonts/Plumb-Medium/Plumb-Medium.ttf") format("truetype"),
    url("../fonts/Plumb-Medium/Plumb-Medium.woff") format("woff"),
    url("../fonts/Plumb-Medium/Plumb-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Plumb";
  src: url("../fonts/Plumb-Bold/Plumb-Bold.eot");
  src: url("../fonts/Plumb-Bold/Plumb-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Plumb-Bold/Plumb-Bold.svg#Plumb-Bold") format("svg"),
    url("../fonts/Plumb-Bold/Plumb-Bold.ttf") format("truetype"),
    url("../fonts/Plumb-Bold/Plumb-Bold.woff") format("woff"),
    url("../fonts/Plumb-Bold/Plumb-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Plumb";
  src: url("../fonts/Plumb-Black/Plumb-Black.eot");
  src: url("../fonts/Plumb-Black/Plumb-Black.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Plumb-Black/Plumb-Black.svg#Plumb-Black") format("svg"),
    url("../fonts/Plumb-Black/Plumb-Black.ttf") format("truetype"),
    url("../fonts/Plumb-Black/Plumb-Black.woff") format("woff"),
    url("../fonts/Plumb-Black/Plumb-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
