.header {
  z-index: 50;
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 44px;
    position: relative;
  }

  &-left {
    flex: 0 1 330px;
  }

  &-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 1 265px;
    position: relative;
    padding: 15px 0;
  }

  &-nav-menu {
    position: absolute;
    right: 0;
    top: 100%;
    transform: translateX(100%);
    transition: transform 0.5s;
    z-index: 1;

    &.active {
      transform: translateX(0);
    }

    &__list {
      position: relative;
      right: -760px;
      list-style: none;
      width: 1000px;
    }

    &__item {
      display: block;
      background: linear-gradient(
        270deg,
        rgba(9, 5, 2, 0.8) 0%,
        rgba(8, 5, 2, 0.6) 90%,
        rgba(7, 4, 2, 0) 100%
      );

      &:hover {
        background: linear-gradient(
          270deg,
          rgba(100, 87, 75, 0.7) 0%,
          rgba(112, 100, 90, 0.8) 90%,
          rgba(163, 154, 145, 0) 100%
        );
        color: $white;
      }
    }

    &__link {
      display: block;
      height: 50px;
      font-weight: 500;
      font-size: 18px;
      text-transform: uppercase;
      color: inherit;
      line-height: 50px;
      padding-left: 100px;
      transition: color 0.3s;
    }
  }
}

.logo {
  display: flex;
  align-items: center;

  &-left {
    margin-right: 16px;
  }

  &__title,
  &__subtitle {
    font-family: "Athelas", serif;
    line-height: 24px;
    text-transform: uppercase;
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 11px;
  }

  &__subtitle {
    font-size: 12px;
    font-style: italic;
    letter-spacing: 5px;
  }
}

.btn {
  &-personal-account,
  &-contacts {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }

  &-personal-account {
    background-image: url(../img/icons/personal-account-icon.svg);
    filter: drop-shadow(0px 0px 2px $dark-main);
  }

  &-contacts {
    width: 40px;
    height: 40px;
    background-image: url(../img/icons/contacts.svg);
    background-size: auto;
    z-index: 20;
    filter: drop-shadow(0px 0px 2px $dark-main);
  }

  &-change-lang,
  &-menu {
    text-transform: uppercase;
    color: $main-color;
    font-size: 18px;
    filter: drop-shadow(0px 0px 2px $dark-main);
  }

  &-change-lang {
    font-weight: 700;
    border-bottom: 1px solid $main-color;
  }

  &-menu {
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 80px;

    & span {
      display: block;
      height: 20px;
      width: 20px;
      background-image: url(../img/icons/arrow-menu-icon.png);
      background-repeat: no-repeat;
      background-position: 100% 50%;
      transform: rotate(0deg);
      transition: transform 0.5s;

      &.active {
        transform: rotate(-180deg);
      }
    }
  }

  &-burger {
    display: none;
    width: 30px;
    height: 30px;

    &__item {
      display: block;
      margin: auto;
      width: 22px;
      height: 2px;
      background-color: $main-color;
      position: relative;
      transition: all 0.5s;

      &:nth-child(1) {
        top: -4px;
        &.active {
          top: 2px;
          transform: rotate(135deg);
        }
      }

      &:nth-child(2) {
        opacity: 1;
        &.active {
          opacity: 0;
        }
      }

      &:nth-child(3) {
        bottom: -4px;
        &.active {
          bottom: 2px;
          transform: rotate(-135deg);
        }
      }
    }
  }
}

.contacts {
  &-container {
    position: absolute;
    right: auto;
    left: 54px;
    top: 7px;
    background: linear-gradient(
      190deg,
      rgba(149, 139, 128, 0.4) 0%,
      rgba(38, 27, 15, 0.7) 100%
    );
    width: 52px;
    height: 50px;
    border-radius: 100px;
    box-shadow: 0px 0px 5px 0px $dark-main;
    opacity: 0;
    transition-property: height, opacity;
    transition-duration: 0.5s, 0.1s;
    transition-delay: 0s, 0.5s;
    transition-timing-function: linear, linear;
    z-index: 1;

    &.active {
      height: 276px;
      opacity: 1;
      transition-duration: 0.5s, 0s;
      transition-delay: 0s, 0s;
    }
  }

  &-item {
    position: absolute;
    top: 0;
    left: 0;
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin: 10px;
    transition-property: top;
    transition-timing-function: linear;

    &:nth-child(1) {
      background-image: url(../img/icons/call-icon.svg);
      transition-duration: 0.1s;
      transition-delay: 0.4s;
    }
    &:nth-child(2) {
      background-image: url(../img/icons/email-icon.svg);
      transition-duration: 0.2s;
      transition-delay: 0.3s;
    }
    &:nth-child(3) {
      background-image: url(../img/icons/instagram-icon.svg);
      transition-duration: 0.3s;
      transition-delay: 0.2s;
    }
    &:nth-child(4) {
      background-image: url(../img/icons/telegram-icon.svg);
      transition-duration: 0.4s;
      transition-delay: 0.1s;
    }
    &:nth-child(5) {
      background-image: url(../img/icons/whatsapp-icon.svg);
      transition-duration: 0.5s;
      transition-delay: 0s;
    }

    &.active {
      &:nth-child(1) {
        top: 45px;
        transition-delay: 0s;
      }
      &:nth-child(2) {
        top: 90px;
        transition-delay: 0s;
      }
      &:nth-child(3) {
        top: 135px;
        transition-delay: 0s;
      }
      &:nth-child(4) {
        top: 180px;
        transition-delay: 0s;
      }
      &:nth-child(5) {
        top: 225px;
        transition-delay: 0s;
      }
    }
  }
}

@media (max-width: 767px) {
  .header {
    &-wrapper {
      align-items: flex-start;
    }

    &-right {
      flex: 0 1 50px;
      flex-direction: column-reverse;
      height: 170px;
      padding: 0;
      position: absolute;
      right: 0;
    }
  }

  .btn {
    &-contacts {
      order: -1;
    }
    &-menu {
      display: none;
    }
    &-burger {
      display: block;
    }
  }

  .contacts {
    &-container {
      left: unset;
      right: -4px;
      top: 125px;
      transition-property: width, opacity;

      &.active {
        height: 50px;
        width: 276px;
      }
    }
    &-item {
      left: auto;
      right: 0;
      transition-property: right;

      &:nth-child(1) {
        transition-duration: 0.1s;
        transition-delay: 0.4s;
      }
      &:nth-child(2) {
        transition-duration: 0.2s;
        transition-delay: 0.3s;
      }
      &:nth-child(3) {
        transition-duration: 0.3s;
        transition-delay: 0.2s;
      }
      &:nth-child(4) {
        transition-duration: 0.4s;
        transition-delay: 0.1s;
      }
      &:nth-child(5) {
        transition-duration: 0.5s;
        transition-delay: 0s;
      }

      &.active {
        &:nth-child(1) {
          top: -1px;
          right: 45px;
          transition-delay: 0s;
        }
        &:nth-child(2) {
          top: -1px;
          right: 90px;
          transition-delay: 0s;
        }
        &:nth-child(3) {
          top: -1px;
          right: 135px;
          transition-delay: 0s;
        }
        &:nth-child(4) {
          top: -1px;
          right: 180px;
          transition-delay: 0s;
        }
        &:nth-child(5) {
          top: -1px;
          right: 225px;
          transition-delay: 0s;
        }
      }
    }
  }

  .header-nav-menu {
    right: -30px;
    top: 130%;

    &__list {
      right: auto;
      width: 100vw;
    }

    &__item {
      background: linear-gradient(
        270deg,
        rgba(9, 5, 2, 0.8) 0%,
        rgba(8, 5, 2, 0.8) 50%,
        rgba(7, 4, 2, 0) 100%
      );

      &:hover {
        background: linear-gradient(
          270deg,
          rgba(100, 87, 75, 0.8) 0%,
          rgba(112, 100, 90, 0.8) 50%,
          rgba(163, 154, 145, 0) 100%
        );
      }
    }

    &__link {
      height: 10vh;
      line-height: 10vh;
      padding-left: 0;
      text-align: center;
    }
  }
}

@media (max-width: 480px) {
  .logo {
    &__img {
      height: 52px;
    }
    &__title {
      font-size: 12px;
      letter-spacing: 7px;
      line-height: 16px;
    }

    &__subtitle {
      font-size: 6px;
      letter-spacing: 3.5px;
      line-height: 16px;
    }
  }

  .header-nav-menu {
    top: 160%;
  }
}
