.portfolio {
  &-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    box-shadow: none;
    transition: 0.4s;

    .header-wrapper {
      padding: 40px 0;
    }

    &.not-transparent {
      background-color: rgba(38, 27, 15, 0.8);
      box-shadow: 0px 10px 10px 0px rgba(38, 27, 15, 0.8);
    }
  }

  &-page {
    &-background {
      position: fixed;
      background-image: url(../img/blur-background.jpg);
      background-position: 50% 50%;
      background-size: cover;
      z-index: auto;
      filter: none;
      &::after {
        content: none;
      }
    }
  }

  &-main {
    margin-top: 180px;
  }

  &-title {
    margin-bottom: 10px;
  }

  &-subtitle {
    margin-bottom: 50px;
  }

  &-list {
    display: flex;
    flex-direction: column;

    &-item {
      display: flex;
      border-radius: 0 200px 200px 0;
      background: linear-gradient(
        107.94deg,
        #39312a 34.25%,
        rgba(90, 78, 68, 0.25) 67.47%
      );
      margin-bottom: 38px;
      position: relative;
      z-index: 1;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 32px;
        height: 100%;
        background: linear-gradient(
          135.14deg,
          #000000 0%,
          rgba(46, 40, 36, 0.8) 100%
        );
        transform: skewY(45deg) translateY(18px);
        z-index: 0;
      }

      &-img {
        width: 388px;
        height: 150px;
        position: relative;
        overflow: hidden;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(#000, 0.5);
          background-image: url(../img/icons/eye.svg);
          background-repeat: no-repeat;
          background-position: 50% 50%;
          opacity: 0;
          transition: opacity 0.5s;
        }

        .img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transform: scale(1);
          transition: transform 0.5s;
        }
      }

      &:hover .portfolio-list-item-img::after {
        opacity: 1;
      }

      &:hover .portfolio-list-item-img > .img {
        transform: scale(1.1);
      }

      &-desc {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 0 40px;

        &-title {
          font-weight: normal;
          font-size: 24px;
          text-transform: uppercase;
        }

        &-text {
          display: flex;
          align-items: center;
          justify-content: space-between;
          max-width: 90%;
        }

        &-location,
        &-area,
        &-authors {
          background-repeat: no-repeat;
          background-position: 0 50%;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          padding-left: 40px;
        }

        &-location {
          background-image: url(../img/icons/location-icon.svg);
        }

        &-area {
          background-image: url(../img/icons/area-icon.svg);
        }

        &-authors {
          background-image: url(../img/icons/authors-icon.svg);
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  .portfolio {
    &-list {
      &-item {
        &-img {
          width: 350px;
        }
        &-desc {
          margin-left: 20px;
          &-title {
            font-size: 18px;
          }
          &-text {
            font-size: 12px;
          }
          &-location,
          &-area,
          &-authors {
            height: 20px;
            background-size: contain;
            padding-left: 30px;
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .portfolio {
    &-list {
      &-item {
        &-img {
          flex: 0 0 250px;
        }
        &-desc {
          flex-direction: row;
          &-title {
            display: flex;
            align-items: center;
            flex: 0 1 50%;
          }
          &-text {
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-start;
            flex: 0 1 40%;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .portfolio {
    &-header {
      background-color: transparent;
      box-shadow: none;
      transition: 0.4s;

      &.not-transparent {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent);
        box-shadow: none;
      }
    }
    &-main {
      // margin-top: 250px;
      transition: opacity 0.2s, visibility 0.2s;

      &.hidden {
        opacity: 0;
        visibility: hidden;
      }
    }
    &-list {
      &-item {
        &-img {
          flex: 0 0 150px;
        }
        &-desc {
          &-title {
            flex: 0 1 auto;
          }
          &-text {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .portfolio {
    &-subtitle {
      margin-bottom: 20px;
    }
    &-list {
      &-item {
        margin-bottom: 20px;
        border-radius: 10px;
        &-img {
          flex: 0 0 100px;
          height: 100px;
        }
        &-desc {
          flex-direction: column;
          &-title {
            margin-right: 0;
            font-size: 14px;
          }
        }
      }
    }
  }
}
