.portfolio {
  &-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-image: url(../img/blur-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;

    .header-wrapper {
      padding: 40px 0;
    }
  }

  &-page {
    &-background {
      position: fixed;
      background-image: url(../img/blur-background.jpg);
      background-position: 50% 0;
      z-index: auto;
      filter: none;
      &::after {
        content: none;
      }
    }
  }

  &-main {
    margin-top: 180px;
  }

  &-title {
    margin-bottom: 10px;
  }

  &-subtitle {
    margin-bottom: 50px;
  }

  &-list {
    display: flex;
    flex-direction: column;

    &-item {
      display: flex;
      border-radius: 0 200px 200px 0;
      background: linear-gradient(
        107.94deg,
        #39312a 34.25%,
        rgba(90, 78, 68, 0.25) 67.47%
      );
      margin-bottom: 38px;
      position: relative;
      z-index: 1;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 32px;
        height: 100%;
        background: linear-gradient(
          135.14deg,
          #000000 0%,
          rgba(46, 40, 36, 0.8) 100%
        );
        transform: skewY(45deg) translateY(18px);
        z-index: 0;
      }

      &-img {
        width: 388px;
        height: 150px;
        position: relative;
        overflow: hidden;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(#000, 0.5);
          background-image: url(../img/icons/eye.svg);
          background-repeat: no-repeat;
          background-position: 50% 50%;
          opacity: 0;
          transition: opacity 0.5s;

        }

        .img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transform: scale(1);
          transition: transform 0.5s;
        }
      }

      &:hover .portfolio-list-item-img::after {
        opacity: 1;
      }

      &:hover .portfolio-list-item-img>.img {
        transform: scale(1.1);
      }

      &-desc {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 50px;

        &-title {
          font-weight: normal;
          font-size: 24px;
          text-transform: uppercase;
        }

        &-text {
          display: flex;
          align-items: center;
          justify-content: space-between;
          max-width: 90%;
        }

        &-location,
        &-area,
        &-authors {
          background-repeat: no-repeat;
          background-position: 0 50%;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          padding-left: 40px;
        }

        &-location {
          background-image: url(../img/icons/location-icon.svg);
        }

        &-area {
          background-image: url(../img/icons/area-icon.svg);
        }

        &-authors {
          background-image: url(../img/icons/authors-icon.svg);
        }
      }
    }
  }
}
