$main-color: #B2ACA6;
$second-color: #A39A91;
$third-color: #84796D;

$light-gray: #84796D;
$middle-gray: #70645A;
$dark-gray: #5A4E44;

$header-color: #DCD6D1;
$white: #fff;
$dark-main: #261B0F;