@font-face {
  font-family: 'Plumb-Black';
  src: url('Plumb-Black.eot');
  src: url('Plumb-Black.eot?#iefix') format('embedded-opentype'),
       url('Plumb-Black.svg#Plumb-Black') format('svg'),
       url('Plumb-Black.ttf') format('truetype'),
       url('Plumb-Black.woff') format('woff'),
       url('Plumb-Black.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

