.portfolio-page-page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 50px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  overflow: hidden;

  .portfolio-page-main {
    flex: 0 1 310px;
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.2s, visibility 0.2s;

    &.hidden {
      opacity: 0;
      visibility: hidden;
    }

    .portfolio-container {
      height: 100%;
    }
    &-wrapper {
      position: relative;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .portfolio-page-slider {

        &-arrows {
          position: absolute;
          right: 34px;
          top: 44%;
          display: none;
          flex-direction: column;
          justify-content: space-between;
          max-height: 80px;
          height: 100%;
          z-index: 60;
        }

        &-arrow {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-image: url(../img/icons/right-arrow-icon.png);
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-size: contain;

          &:last-child {
            transform: scaleX(-1);
          }
        }
      }

      .portfolio-page-dots {
        position: relative;
        flex: 0 1 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;

        &__item {
          height: 130px;
          width: 130px;
          margin: 0 5px;
          border-radius: 50%;
          border: 3px solid $main-color;
          overflow: hidden;
          transition: border 0.5s, box-shadow 0.3s;

          &:hover {
            border: 3px solid rgba(178, 172, 166, 0.2);
          }
        }

        &__btn {
          width: 100vw;
          height: 100vh;
          background-repeat: no-repeat;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 82%;
            background: linear-gradient(
              180deg,
              #261b0f 0%,
              rgba(38, 27, 15, 0.816667) 46.88%,
              rgba(38, 27, 15, 0.57) 73.96%,
              rgba(38, 27, 15, 0.2394) 89.06%,
              rgba(38, 27, 15, 0) 100%
            );
            z-index: 5;
          }

          // &::after {
          //   content: "";
          //   position: absolute;
          //   top: 66%;
          //   left: 0;
          //   right: 0;
          //   bottom: 0;
          //   background: linear-gradient(
          //     0deg,
          //     #261b0f 0%,
          //     rgba(38, 27, 15, 0.785582) 42.19%,
          //     rgba(38, 27, 15, 0.71875) 70.31%,
          //     rgba(38, 27, 15, 0) 100%
          //   );
          // }
        }
      }

      .portfolio-desc {
        flex: 0 1 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        

        &-title {
          font-weight: normal;
          font-size: 24px;
          z-index: 5;

        }

        &-details {
          flex: 0 1 50%;
          display: flex;
          justify-content: space-between;
          z-index: 5;

          &-column {
            flex: 0 1 300px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }

          &-item {
            display: flex;
            align-items: center;

            svg {
              width: 30px;
              height: 30px;
              margin: 3px 0;
            }
          }

          &-rendering {
            justify-content: flex-end;
          }

          &-location-img,
          &-area-img,
          &-authors-img,
          &-rendering-img,
          &-share-img {
            flex: 0 0 44px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
          }

          &-share-img {
            justify-content: flex-end;
            object-fit: contain;
          }

          &-share {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            &-text {
              text-transform: uppercase;
              font-weight: 500;
              font-size: 18px;
            }
          }
        }
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: -100%;
          right: -100%;
          bottom: -100%;
          background: linear-gradient(
            0deg,
            #261b0f 0%,
            rgba(38, 27, 15, 0.7) 40%,
            rgba(38, 27, 15, 0.7) 70%,
            rgba(38, 27, 15, 0) 100%
          );
        }
    
      }
    }
  }

  .portfolio-page-slider {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    overflow: hidden;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    &__item {
      position: absolute;
      border-radius: 50%;
      overflow: hidden;
      box-shadow: 0px 0px 100px 10px $main-color;
    }

    &__img {
      position: absolute;
      width: 100vw;
      height: 100vh;
      object-fit: cover;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 82%;
      background: linear-gradient(
        180deg,
        #261b0f 0%,
        rgba(38, 27, 15, 0.816667) 46.88%,
        rgba(38, 27, 15, 0.57) 73.96%,
        rgba(38, 27, 15, 0.2394) 89.06%,
        rgba(38, 27, 15, 0) 100%
      );
      z-index: 5;
    }

    &::after {
      content: "";
      position: absolute;
      top: 66%;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(
        0deg,
        #261b0f 0%,
        rgba(38, 27, 15, 0.785582) 42.19%,
        rgba(38, 27, 15, 0.71875) 70.31%,
        rgba(38, 27, 15, 0) 100%
      );
    }
  }
}

@media (max-width: 1199px) {
  .portfolio-page-page-wrapper {
    .portfolio-page-main {
      flex: 0 1 200px;
      &-wrapper {
        .portfolio-page-dots {
          margin-bottom: 5px;
          &__item {
            height: 100px;
            width: 100px;
          }
          &__btn {
          }
        }
        .portfolio-desc {
          &-details {
            flex: 0 1 70%;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .portfolio-page-page-wrapper {
    .portfolio-page-main {
      &-wrapper {
        .portfolio-page-dots {
          &__item {
            height: 80px;
            width: 80px;
          }
          &__btn {
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .portfolio-page-page-wrapper {
    padding-bottom: 20px;
    .portfolio-page-main {
      &-wrapper {
        justify-content: flex-end;
        .portfolio-page-slider-arrows {
          display: flex;
        }
        .portfolio-page-dots {
          display: none;
        }
        .portfolio-desc {
          flex: 0 1 70%;

          &-title {
          }

          &-details {
            flex-direction: column;
            // justify-content: flex-end;

            &-column {
              flex: 0 1 auto;
            }

            &-item {
              margin-top: 10px;
            }

            &-rendering {
              justify-content: flex-start;
            }

            &-location-img,
            &-area-img,
            &-authors-img,
            &-rendering-img,
            &-share-img {
            }

            &-share-img {
            }

            &-share {
              justify-content: flex-start;
              margin-top: 10px;
              &-text {
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .portfolio-page-page-wrapper {
    .portfolio-page-main {
      &-wrapper {
        .portfolio-slider-dots {
        }
        .portfolio-desc {
          &-title {
            font-size: 20px;
          }

          &-details {
            &-column {
            }

            &-item {
              svg {
                width: 20px;
                height: 20px;
              }
            }

            &-rendering {
            }

            &-location-img,
            &-area-img,
            &-authors-img,
            &-rendering-img,
            &-share-img {
              flex: 0 0 26px;
            }

            &-share-img {
              width: 20px;
              height: 20px;
            }

            &-location-text,
            &-area-text,
            &-authors-text,
            &-rendering-text,
            &-share-text {
              font-size: 12px;
            }

            &-share {
              &-text {
              }
            }
          }
        }
      }
    }
  }
}
